<%- include("partials/header") -%>
<%- include("partials/heading") -%>

<link rel="stylesheet" href="../css/blogs.css">
<div class="myContent blog">

    <% if(theBlogs.length <=0){     %>
    <h1>No Blogs Posted!</h1>
    <%  }else{   %>

    <%  theBlogs.forEach(function(blog){    %>
    <div class="containter_post">
        <div id="container-image">
            <img id="blog-img" src="<%= blog.image %>" alt="">
        </div>

        <div id="container-content">
            <h1 class="blog-title"><a href="/blogs/<%= blog.title %>"><%= blog.title %></a></h1>
            <p class="blog-date"><%= blog.date %></p>

            <!-- Reduce the size of the blog text-->
            <% if(blog.body.length>200){         %>
            <p class="blog-content">
                <%= blog.body.substring(0, 201) + "... " %>
                <a href="/blogs/<%= blog.title %>">
                    Read more
                </a>
            </p>
            <% }else{       %>

            <p><%= blog.body %></p>

            <% }            %>
        </div>

        <!-- Section for Comments and Likes -->
        <!--<div class="section-comments mt-20">
            <p class="comment">Comments</p>
            <p class="quantity">number</p>
        </div>
    -->

    </div>
    <hr>
    <%  });     %>
    <!-- end loop -->

    <% } %>
    <!-- end else -->

</div>

<%- include("partials/footer") -%>