<%- include("partials/header") -%>
<%- include("partials/heading") -%>

<style>
    #section-bottom {
        margin-top: 50px;
    }

    .author-img {
        border-radius: 50%;
        width: 100px;
    }

    .author-name {}

    .a-comment {
        background-color: rgb(248, 245, 245);
        border: solid rgb(245, 243, 243) 1px;
        border-radius: 5px;
        padding: 20px;
    }

    .comment-author {
        float: left;
        margin-right: 50px;
    }

    .comment-body {
        color: rgb(41, 40, 40);
        font-size: 0.8rem;
    }
</style>

<div class="myContent blog">

    <!-- the blog content -->
    <div class="the-blog">
        <h1 class="blog-title"><%= theBlog.title %></h1>
        <p class="blog-date"><%= theBlog.date %></p>
        <p class="blog-content"><%= theBlog.body %></p>
    </div>
    <br>
    <hr>

    <section id="section-bottom">

        <!-- about the author -->
        <div class="the-author">
            <p style="font-size: 1.5rem;">About the Author:</p>
            <img class="author-img mt-10" src="../images/Kev.jpg" alt="">
            <p class="author-name mt-10 fw-b">Ebenezer Mathebula</p>
            <p class="author-bio">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus animi quos qui,
                similique
                maiores exercitationem possimus quas eius.</p>
        </div>

        <!-- add a new comment -->
        <p class="mt-30 fw-b">Add comment</p>
        <hr>
        <div class="add-comment container-fluid">

            <form id="write-comment" class="form-group row" action="/comment" method="POST">

                <div class="col-md-6 mt-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" required
                        data-error="Write your Name">
                </div>

                <div class="col-md-6 mt-10">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required
                        data-error="Write your Email">
                </div>

                <div class="col-md-12 mt-10">
                    <textarea class="form-control" rows="3" placeholder="Comment..." id="comment" name="comment"
                        required data-error="Write your message"></textarea>
                </div>

                <div class="col-md-12">
                    <button type="submit" class="btn btn-lg mt-10" name="blogTitle" value="<%= theBlog.title %>"
                        style="width: 25%;">Submit</button>
                </div>
            </form>
        </div>

        <!-- old comments -->
        <p class="mt-30 fw-b">Comments</p>
        <section id="all-comments">
            <hr>

            <% if(theBlog.comments.length <=0){     %>
            <h4>No Comments Posted!</h4>
            <%  }else{   %>

            <% theBlog.comments.forEach(function(comment){      %>
            <div class="container-fluid">
                <div class="a-comment">
                    <p class="comment-author fw-b"><%= comment.author %></p>
                    <p class="comment-date"><%= comment.date %></p>
                    <p class="comment-body"><%= comment.body %></p>
                </div>
            </div>
            <br>
            <%  });     %>
            <!-- end loop -->

            <% } %>
            <!-- end else -->

        </section>

    </section>

</div>


<%- include("partials/footer") -%>