<%- include("partials/header") -%>

<div class="myContent blog">
    <h1 class="blog-title"><%= theBlog.title %></h1>
    <p class="blog-date"><%= theBlog.date %></p>
    <p class="blog-content"><%= theBlog.body %></p>
</div>

<%- include("partials/footer") -%>