<%- include("partials/header") -%>
<%- include("partials/heading") -%>

<div class="myContent blog">

    <%  theBlogs.forEach(function(blog){    %>
    <div class="containter_post">
        <h1 class="blog-title"><a href="/blogs/<%= blog.title %>"><%= blog.title %></a></h1>
        <p class="blog-date"><%= blog.date %></p>
        
        <!-- Reduce the size of the blog text-->
        <% if(blog.body.length>100){         %>
        <p class="blog-content">
            <%= blog.body.substring(0, 101) + "... " %>
            <a href="/blogs/<%= blog.title %>">
                Read more
            </a>
        </p>
        <% }else{       %>

        <p><%= blog.body %></p>

        <% }            %>

        <!-- Section for Comments and Likes -->
        <div class="section-comments">
            <p class="comment">Comments num</p>
        </div>
        <hr>

    </div>
    <%  });     %>

</div>

<%- include("partials/footer") -%>